$grey: #888888;
$color_mine_shaft_approx: #2f3236;
$color_fuscous_gray_approx: #535353;
$color_bright_gray_approx: #41454c;
$primary: #F42121;
$color_suva_gray_approx: #888888;
$white: #fff;
$color_spring_wood_approx: #f6f4f1;
$color_cape_cod_approx: #3f4246;
$color_log_cabin_approx: #202020;
$color_delta_approx: #a2a2a2;
$color_silver_approx: #bfbebb;
$color_ebb_approx: #e6e4e1;
